<% if(theme.author.afdian) { %>
<div class="afdian-card">
<p class="asidetitle"><%= __('afdian-card') %></p>
<iframe class="afdian_iframe" src="https://afdian.com/leaflet?slug=<%= theme.author.afdian %>" height="260" scrolling="no" frameborder="0"></iframe>
</div>
<% } %>
